body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ec9523;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-size: 24px;
}

.button-rows {
    text-align: center;
    margin-top: 20px;
}

.button-row {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.action-button {
    background-color: orange;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.action-button:hover {
    background-color: #0071a4;
}
